* {
    font-family: 'Lato', sans-serif;;
}

html {
    scroll-behavior: smooth;
}

#skip {
  display: hidden;
}

#skip:focus {
  display: inline;
  color: black;
}

.logo img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    height: 75%;
    align-content: center;
}


div {
  text-align: center;
}

.menu li {
    list-style-type: none;
    font-size: 22px;
    margin-left: auto;
    margin-right: auto;
    padding: 2rem;
    border-radius: 25px;
 }
  
header {
  background-color: #ff0000;
}

  .menu {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    background-color: #ff0000;
    width: fit-content;
    /* justify-content: space-around; */
  }
  
  .menu ul {
    padding: 0;
    margin: 0;
  }

  
.links {
    text-align: center;
    /* padding: 15px; */
    font-size: 18px;
    transition: background-color 0.5s, border 0.5s;
    justify-content: space-around;
  }

.links li a.current {
    text-decoration: underline;
    border: 3px solid white;
    padding: 15px;
}


.menu li:hover {
  text-decoration: underline;
  border: 2px solid white; 
  animation-name: menu;
}

.menu ul:first-child {
  color:#ffffff;
}


a {
    color: #ffffff;
    width:fit-content;
    border-radius: 25px;

}

.how a {
  color:#0D4DD4;
}

a:visited{
  text-decoration: underline #ffffff;
  text-decoration-style: double;
}

.content {
  margin: auto;
}

.content div p {
  text-align: center;
}
h1 {
    font-size: 36px;
    padding: 25px;
    text-align: center;

}

header h1 {
  background-color: #0081d6;
  color: #ffffff;

}

.purpleIt {
  animation-name: purpleIt;
  animation-delay: 1.5s;
  animation-duration: 3.0s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

@keyframes purpleIt {
  from {background-color: #2683EF;}
  to {background-color: #9b36c9;}

}

h2 {
    font-size: 30px;
    padding: 15px;
    text-align: center;
}

h3 {
  padding: 10px;
  text-align: center;
}

p {
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    padding: 20px;
    
}

.blue {
  width: 50%;
  margin-left: auto
  ;margin-right: auto;
  border-top: 2px solid #2683EF;
}

.red {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  border-top: 2px solid #ff0000;
}

div.description p {
  max-width: 900px;
  align-self: center;
}

.index_images  {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 50%;
}

#newspaper_img {
  display: flex;
  width: 75%;
  height: 75%;
}


.grid {
  display: grid;
  grid-template-columns:repeat(auto-fill, minmax(250px, 1fr));
  row-gap: 50px;
  column-gap: 50px;
  justify-items: center;
  width: fit-content;
  align-content: center;
  margin-left: auto;
  margin-right: auto;
  }



.social-media {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 10px;
}



#instagram img{
  justify-content: center;
  padding: 20px;
  flex-basis: 125px;
  max-height: 200px;
  max-width: 200px;
}

#twitter img{
  justify-content: center;
  padding: 20px;
  flex-basis: 125px;
  max-height: 200px;
  max-width: 175px;
}

.grid iframe {
  display: flex;
  justify-content: center;
  align-content: center;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
  flex-basis: 150px;
  }

  .parallax {
    background-image: url("../img/unseen-histories-BBxy12IGzvk-unsplash.jpg");
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
div.parallax.container h3 {
  color: #000000;
  background-color: rgba(255, 255, 255, 0.8)
  ;
  padding: 5px;
}

button {
  font-size: 20px;
  font-style: bold;
  background-color: #D40D0D;
  color: #ffffff;
  text-align: center;
  cursor: pointer;
  border: none;
  margin-top: 20px;
  padding: 25px;
  border-radius: 35px;
}

input {
  border: 2px solid #000000;
}

#message {
  width: 80%;
  padding: 25px;
  margin-top: 10px;
  margin-bottom: 25px;;
}

#team {
  display: flex;
  padding: 25px;
  flex-direction: row;
  flex-wrap: wrap;
}

#team img {
  justify-content: center;
  padding: 20px;
  flex-basis: 125px;
  max-height: 200px;
  max-width: 200px;
}


.orgs img {
  border: black solid 3px;
  padding: 5px;
  max-width: 250px;
}
  
footer {
  background-color: #194BC6;
  margin-top: 50px;
  padding-bottom: 25px;
}

footer h2 {
  color: #ffffff;
  height: 50px;
}

footer ul {
  list-style-type: none;
  list-style-position: inside;
  margin-left: auto;
  margin-right: auto;
  display: inline;
  text-align: center;
}

footer li {
  margin-top: 20px;
  font-size: 20px;
}

footer p {
  color: #ffffff;
}


.container {
  padding: 10px;
}

input[type=text], input[type=submit] {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

input[type=submit] {
  background-color: #ff0000;
  color: #ffffff;

}


#subscribe {
  object-fit: contain;
  max-height: 350px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}


  @media screen and (min-width: 768px) {
    main {
      margin-top: 25px;
      margin-bottom: 25px;
      margin-left: 50px;
      margin-right: 50px;
  }  
  
    .menu {
      flex-direction: row;
    }
    
    .menu ul {
       display: flex;
         flex-direction: row;
    }
  
    .menu li {
      margin: 0;
      width: auto'
     ;;justify-content: space-around;;;
     }

    .grid p {
      font-size: 20px;
    }

    .content p {
      font-size: 20px;
    }

    h2 {
      font-size: 38px;
    }

    h3 {
      font-size: 30px;
    }

    .logo img {
      max-width: 450px;
    }
    #newspaper_img {
      max-width: 450px;
    }
}      

@media screen and (min-width: 1024px) {
  /* desktop view */
  .grid {
    display: grid;
    grid-template-columns:repeat(auto-fill, minmax(400px, 1fr));
    row-gap: 50px;
    column-gap: 25px;
    justify-items: center;
    margin-top: 50px;
    width: fit-content;
    align-content: center;
    }
  
  .grid iframe {
    display: flex;
    justify-content: center;
    align-content: center;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
    height: 400px;
    width: 400px;
    }

  .content p {
    font-size: 24px;
  }

  h2 {
    font-size: 44px;
  }
  .logo img {
    max-width: 500px;
  }

  #newspaper_img {
    max-width: 500px;
  }

  }

@media (prefers-reduced-motion) {
  #animated, .purpleIt {
    animation: none;
  }

}