* {
    font-family: 'Lato', sans-serif;;
}

html {
    scroll-behavior: smooth;
}

head.img {
    width: 75%;
    height: 75%;
    align-content: center;
}

header {
    padding-left: 20px;
    padding-top: 10px;
}

main {
    background-color: #ffffff;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 50px;
    margin-right: 50px;
}

.grid {
    padding-bottom: 25px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 20px;
    margin: 75px;
    box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);


}

.menu ul{
    height: 65px;
    padding-left: 75px;
    padding-right: 75px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding-top: 20px;
    background-color: #e91f1a;
  }
  
.menu li{
    text-align: center;
    padding-top: 10px;
    font-size: 18px;
    transition: background-color 0.5s, border 0.5s;
  }

.menu li:active {
    text-decoration: underline;
    border: 3px
}

.menu li:hover {
    background-color: #338EFF;

}

a {
    color: #ffffff;
}

.about {
    grid-column: 1 / span 3;
    grid-row: 1 / span 1;
    padding-left: 50px;
    padding-right: 50px;
    border: 2px solid #338EFF;
}

.about p {
    font-size: 20px;
    text-align: center;

}

.description {
    grid-row: 2 / span 1;
}

.description1 {
    grid-column: 1 / 2;
}

.image1 {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
    align-content: center;
    border: 1px solid #ccc;
}

.image1 > [style^='--aspect-ratio']::before {
    content: "";
    display: inline-block;
    width: 1px;
    height: 0;
    padding-bottom: calc(100% / (var(--aspect-ratio)));
}

.description2 {
    grid-column: 3 / span 1;
}

.newsletters {
    grid-column: 1 / span 2;
    grid-row: 3 / span 1;
    align-items: stretch;
}

h1 {
    font-size: 36px;
    padding: 25px;

}

h2 {
    font-size: 30px;
    padding: 15px;
    text-align: center;
}

p {
    font-size: 18px;
    line-height: 1.6;
    text-align: left;
    
}

@media screen and (min-width: 850px ){

}

