html {
    scroll-behavior: smooth;
}


header {
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

body {
    background-color: #ffffff;
}

.container {
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 35px;
    padding-bottom: 25px;
    display: grid;
    grid: repeat(4, auto) / repeat(3, 1fr);
    row-gap: 20px;

}

.menu ul{
    list-style-type: none;
    padding-top: 15px;
    background-color: #e91f1a;
  }
  
.menu li{
    display: inline;
    padding: 10px 10px;
    font-size: 18px;
    color: #ffffff;
  }


.cell1 {
    grid-column: 2 / span 2;
    grid-row: 1 / span 1;
    
}

.newsletters {
    grid-column: 1 / 3;
    grid-row: 2 / span 1;
    align-items: stretch;
}

h1 {
    font-size: 36px;

}

h2 {
    font-size: 28px;
    padding: 15px;
}

@media screen and (max-width: 768px ){

}

@media screen and (max-width: 480px) {
    
}
