html {
    scroll-behavior: smooth;
}

link {
    display: inline;
}
header {
    padding-left: 20px;
    padding-top: 10px;
}

body {
    background-color: #ffffff;
}

.grid {
    padding-bottom: 25px;
    display: grid;
    grid: repeat(4, auto) / repeat(3, 1fr);
    row-gap: 20px;

}

.menu ul{
    height: 100px;
    padding-left: 75px;
    padding-right: 75px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding-top: 15px;
    background-color: #e91f1a;
  }
  
.menu li{
    text-align: center;
    padding-top: 10px;
    font-size: 18px;
    transition: background-color 0.5s, border 0.5s;
  }

.menu li:active {
    text-decoration: underline;
    border: 3px
}

.menu li:hover {
    background-color: #338EFF;

}

a {
    color: #ffffff;
}

.about {
    grid-column: 1 / span 3;
    grid-row: 1 / span 1;
    padding-left: 50px;
    padding-right: 50px;
}

.description {
    grid-row: 2 / span 1;
}

.what {
    grid-column: 1 / 2;
}

.how {
    grid-column: 3 / span 1;
}

.newsletters {
    grid-column: 1 / 3;
    grid-row: 3 / span 1;
    align-items: stretch;
}

h1 {
    font-size: 36px;
    padding-bottom: 10px;

}

h2 {
    font-size: 28px;
    padding: 15px;
    text-align: center;
}

p {
    font-size: 18px;
    line-height: 1.5rem;
    text-align: justify;
    
}

@media screen and (min-width: 850px ){

}

