* {
    font-family: 'Lato', sans-serif;;
}

html {
    scroll-behavior: smooth;
}

head.img {
    width: 75%;
    height: 75%;
    align-content: center;
}


main {
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 50px;
    margin-right: 50px;
}



.menu li {
    list-style-type: none;
    font-size: 22px;
    margin-left: auto;
    margin-right: auto;
    padding: 2rem;
    border-radius: 25px;
 }
  
  .menu {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    background-color: #ff0000;
  }
  
  .menu ul {
    padding: 0;
    margin: 0;
  }

  
.links {
    text-align: center;
    padding: 15px;
    font-size: 18px;
    transition: background-color 0.5s, border 0.5s;
  }

.links li:active {
    text-decoration: underline;
    border: 3px;
}

.menu li:hover {
    background-color: #338EFF;
}

.menu ul:first-child {
  color:#ffffff;
}

a {
    color: #ffffff;
    width:fit-content;
    border-radius: 25px;

}


a:visited{
  color: #1d3fd6;
}

.content {
    padding-bottom: 25px;
    margin: 25px;
    margin: 10px;

}

h1 {
    font-size: 36px;
    padding: 25px;
    text-align: center;

}

h2 {
    font-size: 30px;
    padding: 15px;
    text-align: center;
}

p {
    font-size: 18px;
    line-height: 1.6;
    text-align: left;
    padding: 15px;
    
}

.image1 img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
  
  @media (min-width: 750px) {
  
    /* top nav */
  
    .menu {
      flex-direction: row;
    }
    
    .menu ul {
       display: flex;
         flex-direction: row;
    }
  
    .menu li {
      margin: 0;
      width: auto'
     }
}      