* {
    font-family: 'Lato', sans-serif;;
}

html {
    scroll-behavior: smooth;
}

body img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    height: 75%;
    align-content: center;
}


main {
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 50px;
    margin-right: 50px;
}

div {
  text-align: center;
}

.menu li {
    list-style-type: none;
    font-size: 22px;
    margin-left: auto;
    margin-right: auto;
    padding: 2rem;
    border-radius: 25px;
 }
  
  .menu {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    background-color: #ff0000;
  }
  
  .menu ul {
    padding: 0;
    margin: 0;
  }

  
.links {
    text-align: center;
    padding: 15px;
    font-size: 18px;
    transition: background-color 0.5s, border 0.5s;
  }

.links li:active {
    text-decoration: underline;
    border: 3px;
}

@keyframes menu {
  from {color: #56616D;}
  to {color: #ffffff;}
}

.menu li:hover {
  text-decoration: underline;
  border: 2px solid white; 
  animation-name: menu;
}

.menu ul:first-child {
  color:#ffffff;
}


a {
    color: #ffffff;
    width:fit-content;
    border-radius: 25px;

}

.how a {
  color:#000000;
}

a:visited{
  text-decoration: underline #ffffff double;
}

.content {
  margin: auto;
}

.content div p {
  text-align: center;
}
h1 {
    font-size: 36px;
    padding: 25px;
    text-align: center;

}

header h1 {
  background-color: #0081d6;
  color: #ffffff;

}

.purpleIt {
  animation-name: purpleIt;
  animation-delay: 3.0s;
  animation-duration: 3.0s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

@keyframes purpleIt {
  from {background-color: #2683EF;}
  to {background-color: #9b36c9;}

}

h2 {
    font-size: 30px;
    padding: 15px;
    text-align: center;
}

p {
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    padding: 20px;
    
}

.blue {
  width: 50%;
  margin-left: auto
  ;margin-right: auto;
  border-top: 2px solid #2683EF;
}

.red {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  border-top: 2px solid #ff0000;
}

div.description p {
  max-width: 900px;
  align-self: center;
}

.index_images  {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 50%;
}

#newspaper_img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  height: 40%;
}


.grid { 
  display: grid;
  grid-template-columns:repeat(auto-fill, minmax(400px, 1fr));
  row-gap: 50px;
  column-gap: 25px;
  justify-items: center; 
  margin-top: 50px;
  }

.grid iframe {
  display: flex;
  justify-content: center;
  align-content: center;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
  height: 400px;
  width: 400px;
  }
  

button {
  font-size: 20px;
  background-color: #ff0000;
  color: #ffffff;
  text-align: center;
  cursor: pointer;
  border: none;
  margin-top: 20px;
  padding: 25px;
  border-radius: 35px;
}

@keyframes changecolor {
  from {background-color: #2683EF;}
  to {background-color: #ff0000;}
}

  #animated {
    width: fit-content;
    margin: auto;
    color: #ffffff;
    background-color: #2683EF;
    animation-name: changecolor;
    animation-delay: 5.0s;
    animation-duration: 2s;
    animation-fill-mode: forwards;
  }
  
footer {
  background-color: #194BC6;
  margin-top: 50px;
  padding-bottom: 25px;
}

footer h2 {
  color: #ffffff;
  height: 50px;
}

footer ul {
  list-style-type: none;
  list-style-position: inside;
  margin-left: auto;
  margin-right: auto;
  display: inline;
  text-align: center;
}

footer li {
  margin-top: 20px;
  font-size: 20px;
}


.container {
  padding: 20px;
  background-color: #f1f1f1;
}

/* Style the input elements and the submit button */
input[type=text], input[type=submit] {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

input[type=submit] {
  background-color: #ff0000;
  color: #ffffff;

}


#subscribe {
  object-fit: contain;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

@media screen and (min-width: 481px) {
/* tablets */

}

  @media screen and (min-width: 768px) {
  
    /* small screens and laptops*/
  
    .menu {
      flex-direction: row;
    }
    
    .menu ul {
       display: flex;
         flex-direction: row;
    }
  
    .menu li {
      margin: 0;
      width: auto'
     }
}      

@media screen and (min-width: 1024px) {
  /* desktop view */
}